.black3 {
  position: relative;
  width: 36px;
  height: 18px;
  left: 500px;
  top: 60px;

  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #000000, #000000), #000000;
}

.pink3 {
  position: relative;
  width: 36px;
  height: 18px;
  left: 495px;
  top: 38px;

  background: linear-gradient(0deg, #f66fcf, #f66fcf),
    linear-gradient(0deg, #000000, #000000), #000000;
}

.back3 {
  position: relative;
  width: 38px;
  height: 41px;
  left: 500px;
  top: 21px;

  font-family: "Jockey One";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #f5f2f2;
}
