.pink5 {
  position: relative;
  width: 226px;
  height: 173px;
  left: -740px;
  top: -40px;

  background: #f66fcf;
}

.white5 {
  box-sizing: border-box;

  position: relative;
  width: 228px;
  height: 179px;
  left: -770px;
  top: -240px;

  background: url(17EBD10E623EF83D514E8EADCF1CBF5D.jpg), #ffffff;
  border: 10px solid #ffffff;
}
